@{
    ViewData["Title"] = "PaddleBook: Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/js/RiverIndex.js"></script>
@using System;
@using System.Text.RegularExpressions;

@*@model List<PaddlersParadise.Models.RiverRun>*@
@model Sakura.AspNetCore.IPagedList<PaddlersParadise.Models.RiverRun>
<h1>Runs in OR & WA</h1>

<span>Total Players: @Model.TotalCount </span>

<pager source="Model"/>

<table style="margin-bottom:75px;">
    <thread>
        <tr>
            <th>River</th>
            <th>Run</th>
            <th>State</th>
            <th>Class</th>
            <th>Current Flow</th>
        </tr>
    </thread>
    <tbody>            
         @foreach (var riverrun in Model)
         {           
           var riverString = riverrun.river_section.Split('[');
           string river = riverString[0];
           var runString = riverString[1].Split(']');
           string run = runString[1];
           //string pattern = @"\[1-9]+[.]"; //Regex pattern seems to not be working
           //string pattern2 = @"";
           //string[] result = Regex.Split(run, pattern);
           //foreach(var match in result)
           //{
           //    Console.WriteLine(match);

           //}
           //string[] result2 = Regex.Split(run, pattern2);


               <tr>
                <td>
                    @river
                </td>
                <td><a href="/RiverRun/RunDetails/@riverrun.id">@run</a></td>
                <td>@{@riverrun.state.ToUpper();}</td>
                <td>@riverrun.riverClass</td>
                <td id="@riverrun.id" data-value="@riverrun.gauge_id">
                    <div class="preloader-wrapper small active">
                        <div class="spinner-layer spinner-green-only">
                            <div class="circle-clipper left">
                                <div class="circle"></div>
                            </div><div class="gap-patch">
                                <div class="circle"></div>
                            </div><div class="circle-clipper right">
                                <div class="circle"></div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
    
    
                <script>
                    var gaugeId = @riverrun.gauge_id;
                    $.ajax({
                        url: "/RiverRun/USGSCall/",
                        type: 'POST',
                        data: { gaugeId: gaugeId },
                        datatype: 'text',
                        success: function (result) {
                            console.log
                            var unit = result.value.timeSeries[0].variable.unit.unitCode;
                            var flow = result.value.timeSeries[0].values[0].value[0].value
                            if(unit == "deg C")
                            {
                                unit = "Gage height, ft"
                            }
                            if(flow == "-999999")
                            {
                                flow = "Flow Unavailable"
                                unit = ""
                            }
                            $('#'+@riverrun.id).html('<a href="/RiverRun/GaugeDetails/'+@riverrun.gauge_id+'">'+flow+' '+unit+'</a>')
                        }
                    });
                </script>
        
    }
    </tbody>
</table>
@*<script src="~/js/RiverIndex.js"></script>*@