@{
    ViewData["Title"] = "Manage User Roles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using System;
@using System.Text.RegularExpressions;

@model List<PaddlersParadise.Models.RiverRun>
<h1>River/Run Index</h1>

<table>
    <thread>
        <tr>
            <th>River</th>
            <th>Run</th>
            <th>State</th>
            <th>Class</th>
            <th>Current Flow (ft/s^3)/(ft)</th>
        </tr>
    </thread>
    <tbody>
       @foreach (var riverrun in Model)
       {
          
           var riverString = riverrun.river_section.Split('[');
           string river = riverString[0];
           var runString = riverString[1].Split(']');
           string run = runString[1];
           //string pattern = @"\[1-9]+[.]"; //Regex pattern seems to not be working
           //string pattern2 = @"";
           //string[] result = Regex.Split(run, pattern);
           //foreach(var match in result)
           //{
           //    Console.WriteLine(match);

           //}
           //string[] result2 = Regex.Split(run, pattern2);
            <tr>
                <td>
                    @river
                </td>
                <td><a href="/RiverRun/Details/@riverrun.id">@run</a></td>
                <td>@{@riverrun.state.ToUpper();}</td>
                <td>@riverrun.riverClass</td>
                <td id="@riverrun.id" data-value="@riverrun.gauge_id"></td>
            </tr>
                <script>
                    var gaugeId = @riverrun.gauge_id;
                    $.ajax({
                        url: "/RiverRun/USGSCall/",
                        type: 'POST',
                        data: { gaugeId: gaugeId },
                        datatype: 'text',
                        success: function (result) {
                            console.log
                            $('#'+@riverrun.id).html('<a href="/RiverRun/Details/'+@riverrun.id+'">'+result.value.timeSeries[0].values[0].value[0].value+'</a>')
                        }
                    });
                </script>
        
    }
    </tbody>
</table>
@*<script src="~/js/RiverIndex.js"></script>*@