<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyByP1VYfoEQ9LFBhnFq8Q5z-iU2NFX-xrg&callback=initMap">
</script>
<script src="~/js/RunDetails.js"></script>

@{
    ViewData["Title"] = "Paddlers Notebook";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model PaddlersParadise.Models.RiverRun


@{
    var riverSection = @Model.river_section;
    var river = riverSection.Split('[');
    var riverString = river[0];
    var section = riverSection.Split(']');
    var sectionString = section[1];

}
<div class="contianer" style="margin-top: 100px;">
    <h4>@sectionString Details</h4>
    <h5 style="display:none" id="gaugeId" value="@Model.gauge_id">@Model.gauge_id</h5>
    <div class="row">
        <div class="col m6">
            <table style="margin-top:50px;">
                <thread>
                    <tr>
                        <th>River</th>
                        <th align="right">@riverString</th>
                    </tr>
                    <tr>
                        <th>Section</th>
                        <th>@sectionString</th>
                    </tr>
                    <tr>
                        <th>Class</th>
                        <th>@Model.riverClass</th>
                    </tr>
                    <tr>
                        <th>Current Flow</th>
                        <th id="currentFlow"></th>
                    </tr>
                    <tr>
                        <th>USGS Gauge</th>
                        <th id="gaugeName"></th>
                    </tr>

                </thread>
            </table>
            @if (User.IsInRole("Admin"))
            {
                <div style="margin-top: 15px">
                    <a href="/RiverRun/Edit/@Model.id" class="btn">Edit this Entry</a>
                    <a data-target="modal1" class="waves-effect waves-light btn"> Delete this Entry</a>
                </div>
                <div id="modal1" class="modal">
                    <div class="modal-content">
                        <h4>Delete Confirmation</h4>
                        <p>Are you sure you want to delete this entry? It will be permanently removed from the database.</p>
                    </div>
                    <div class="modal-footer">
                        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
                        <form method="post" asp-action="Delete" asp-controller="RiverRun">
                            <input type="hidden" value="@Model.id" name="runId" />
                            <input type="submit" class="modal-action modal-close waves-effect waves-green btn-flat" value="Delete"/>
                        </form>
                    </div>
                </div>
            }
        </div>
        <div class="col m6">
            <div id="map"></div>
        </div>
    </div>
   
</div>