@{
    ViewData["Title"] = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model PaddlersParadise.Models.ApplicationUser
@{ 
string Image = "";
    if (Model.profilePicture != null)
    {
        var base64 = Convert.ToBase64String(Model.profilePicture);
        Image = String.Format("data:image/gif;base64,{0}", base64);
    }
}

<script src="~/js/ProfilePage.js"></script>

<div class="row">
    <div class="col m8">
        <figure class="snip0057 blue">
            <figcaption>
                @if(Model.displayName == null)
                { 
                <h2>Victoria <span>Pena</span></h2>
                }else
                {                  
                  <h2>@Model.displayName</h2>    
                }
                @if (Model.bio == null)
                {
                  <p>"A voice crackles in Calvin's radio: Enemy fighters at two o'clock!" "Roger. What should I do until then?"</p>
                }
                else
                {
                    <p>@Model.bio</p>

                }
                <div class="icons"><a href="#"><i class="ion-ios-home"></i></a><a href="#"><i class="ion-ios-email"></i></a><a href="#"><i class="ion-ios-telephone"></i></a></div>
            </figcaption>
            <div class="image">
                @if (Image == "")
                {
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sq-sample4.jpg" alt="sample4" />
                }else
                {
                    <img src="@Image" />

                }
            </div>
            <div class="position"><a data-target="modal1" class="waves-effect waves-light btn">Edit Profile</a></div>
        </figure>    
    </div>
</div>

<div id="modal1" class="modal">
    <div class="modal-content">
        <h4>Edit Profile Information</h4>
        <div class="contianer">
            <form method="post" asp-action="EditProfile" asp-controller="Account" enctype="multipart/form-data">
                @*<input type="hidden" value="@Model.Id" name="userId"/>*@
                <label for="displayName" >Display Name</label>
                <input type="text" name="displayName" value="@Model.displayName" placeholder="@Model.displayName"/>
                <label for="bio">Bio/Blurb/About</label>
                <input type="text" name="bio" value="@Model.bio" placeholder="@Model.bio"/>
                <label for="profilePicture">Profile Picture</label>
                <input type="file" name="profilePicture" />                                
                <div class="modal-footer">
                   <input class="btn modal-action modal-close waves-effect waves-green" type="submit" value="Edit"/>   
                </div>
            </form>
        </div>
    </div>
</div>

<div class="row">
    <div class="col m4"></div>
    <div class="col m8">
        <p>Originally from <em>Carbondale, Colorado</em>, I now reside in <em>Portland, Oregon</em> where I attended <strong>Epicodus.</strong> My hope is to work in Development with an emphasis in Data Analysis and Security. Specifically, I am interested in clean energy or clean technology. Another possible sector to work in would be security. The ultimate goal is to find an industry where I can make a positive impact on the people and enviornment around me.<br>   Growing up in Colorado, I was always outside, enjoying my surroundings through numerous outdoor sports. The outdoors acurately reflect who I am as a person and have shaped my expierences throughout my formative years. Skiing, kayaking, climbing, fishing, hiking, and general activity kept me entertained year-round. I've yet to explore much of the PNW but my general sense is that it is quite similar to Colorado in terms of outdoor enjoyment. I'm looking forward to some serious exploring and outdoor enjoyment...</p>
    </div>
</div>